doctype html
// saved from url=(0022)http://localhost:8080/
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Productos
  link(rel='stylesheet', href='../../static/css/bootstrap.min.css', crossorigin='anonymous')
  link(rel='stylesheet', href='../../static/js/bootstrap.bundle.min.js', crossorigin='anonymous')
  link(rel='stylesheet', href='../../static/js/jquery.min.js', crossorigin='anonymous')
  script(src='../../static/css/all.css', crossorigin='anonymous')
  script(src='../../static/css/font-awesome.css', crossorigin='anonymous')
header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    .container-fluid
      button.navbar-toggler.navbar-toggler-right.border-0.p-0(type='button', data-toggle='collapse', data-target='#navbar20')
        p.navbar-brand.text-white.mb-0
          i.fa.d-inline.fa-lg.fa-stop-circle
          |  ECommerce
      #navbar20.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Registro
          li.nav-item
            a.nav-link(href='/api/productos') Productos
        p.d-none.d-md-block.lead.mb-0.text-white
          i.fa.d-inline.fa-lg.fa-stop-circle
          b  
        ul.navbar-nav.ml-auto
          li.nav-item.mx-1
            a.nav-link(href='/#')
              i.fa.fa-github.fa-fw.fa-lg
          li.nav-item.mx-1
            a.nav-link(href='/#')
              i.fa.fa-dropbox.fa-fw.fa-lg
          li.nav-item.mx-1
            a.nav-link(href='/#')
              i.fa.fa-bitbucket.fa-fw.fa-lg
.container.d-flex.justify-content-center.my-5
  .row.my-2.mx-2.main
    // left-column
    .col-md-4.col-12.mycol
      // image
      img(src='public/img/rtaImage.jpeg', width='100%', height='100%')
    // right-column
    .col-md-8.col-12.xcol
      h2.title.pt-5.pb-3 Agrega tu producto
      form.myform(action='/api/productos', method='post')
        .row.rone
          .form-group.col-md-6.fone.py-3
            input#title.form-control(type='text', placeholder='Nombre', required='', name='title')
        .row.rtwo
          .form-group.col-md-6.fthree.py-3
            input#price.form-control.jk(placeholder='Pricio', required='', name='price', min='1')
        .row.rthree
          .form-group.col-md-6.ffive.py-3
            input#thumbnail.form-control(type='text', placeholder='URL', required='', name='thumbnail')
        .row.rfour
          .form-group.col-md-6.fseven.py-3
            .form-group.col-md-6.fseven.py-3
              button.btn.btn-primary(type='submit')
                span Agregar